
div.query table {
    background: #ececec;
    border: 1px #ccc solid;
}

div.results table thead th {
    font-weight: bold;
    border-bottom: 1px #ccc solid;
    padding: 5px ;
}

div.results table tbody td {
    padding: 5px ;
}

div.results table tbody tr:hover {
    font-weight: italic;
    background: #ececec;
}
